body{
  /* This settting is mandatory to reset the body to remove
    unwanted padding on top of the header block  */
    padding:0;
    margin:0;
}
.headers {
  /*  Color extraction tool(color zilla) is used
    to get exact color of the elements   */
    border:0.5px solid #E2E6E9;
    display:flex;
    justify-content:space-between;
    background-color:none;
    padding:15px;
    margin:0 auto;
}
#docgitabout{
  /* This setting is used for discrete menu elements in header  */
  color:grey;
  font-weight:bold;
}
.texdecor, .texdecor:link{
    /* This setting is used for all the text decorations */
  text-decoration:none;
  color:grey;
  margin:10px;
}

/*------------------------------------------------------*/
.introduction,
.lastset,
.internallast,
.first,
.second,
.third {
        display: flex;
      justify-content: center;
      flex-direction: column ;
      }

.introduction{
  padding:50px;
}

.internallast{
  margin:0 auto;
}

#introcontainerwrap{
flex-direction: row ;
margin:0 auto;
}

#para{
  font-size:20px;
}

.set1container,.set2container, .set3container{
  display: flex;
flex-direction: column wrap;
}
.card:hover{
  border:1px solid #2893F0;
}
.card{
  width:400px;
  height:220px;
  border-radius: 5px;
  border:1px solid black;
  background-color: white;
  margin:10px;
  padding-right: 5px;
  padding-left: 5px;
}

.logos{
  float:right;
}

/* This setting is used for menus in the header bar */
@media only screen and (max-width:700px) {
  #docgitabout{
    display:none;
  }
  .set1container, .set2container, .set3container{
    display: flex;
  justify-content: center;
  flex-direction: column;
  }
}
